.sidebar {
    width: 25%;
    margin-top: 10px;
}

.twitter-logo {
    width: 30px;
    height: 25px;
}

.sidebar-items {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.sidebar-item:hover {
    border-radius: 25px;
    background-color: lightgray;
    opacity: 0.8;
    cursor: pointer;
}

.sidebar-item-name {
    margin-left: 20px;
    font-size: 25px;
}

.sidebar-tweet-btn {
    color: white;
    background-color: rgb(108, 108, 234);
    font-size: 20px;
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 30px;   
}

.sidebar-account-info {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.sidebar-account-info p {
    padding: 0;
    margin: 0;
}
